
        <div id="topper">

                <nav class="navbar navbar-default">
                        <div class="container-fluid">
                                <div class="navbar-header">
                                        <a class="navbar-brand" href="#">Serwis Smartfonów</a>
                                </div>
                                <ul class="nav navbar-nav">
                                        <li class="active">
                                                <a href="#">Home</a>
                                        </li>
                                        <li>
                                                <a href="#">Zgłoś usterkę</a>
                                        </li>
                                        <li>
                                                <a href="#">Page 2</a>
                                        </li>
                                        <li>
                                                <a href="#">Zaloguj się</a>
                                        </li>
                                </ul>
                        </div>
                </nav>
                <br/>



        </div>
        